# Python
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc

# Environment files
**/.env

# Node.js
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local
**/npm-debug.log*

# Editor and OS files
.vscode/
.idea/
.DS_Store
