.sidebar {
  background: rgba(211, 255, 170, 0.571);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid var(--aurora-border);
  padding: 16px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover {
  background: #eee;
}

.sidebar a {
  display: block;
  color: inherit;
  text-decoration: none;
}